ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.6em;
}

ul li:nth-child(2n+1) {
    background-color: #f0f0f0;
}

ul li .delete {
    color: red;
    float: right;
}

.error {
    color: red;
    font-size: 1.2em;
}